:root {
  --primary-dark: #1c3c53;
  --primary-medium: #446882;
  --accent-light: #d2c1b7;
  --background: #f8f3ef;
  --white: #ffffff; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--primary-dark);
  background-color: var(--background);
  height: 100vh; /* Yang membuat form menjadi tengah cuy*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  border-radius: 10px;
  background: transparent; /* --> nanti diganti transparan*/
  color: white;
  border: 2px solid rgba(255, 255, 255, .2);
  width: 400px;
  padding: 30px 40px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  color: whitesmoke;
  height: 100%;
  background: transparent;

  border: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  padding: 20px 45px 20px 10px;
}

.input-box input::placeholder{
  color: grey;
}

.wrapper .btn{

  width: 100%;
  height: 45px;
  background-color: whitesmoke;
  border-radius: 40px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

@media (max-width: 450px){
  .wrapper {
    width: 90%;
    padding: 30px 30px;
  }
}

@media (max-height: 600px){
    body {
      align-items:flex-start;
      padding: 40px 0px;
    }
}
